.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 140px;
  height: auto;
}
